<div class="pt-20 pb-10">
  <div class="contenido">

    <body>
      <div class="header">
        <img src="../assets/img/logo.png" alt="Logo" class="logo hidden lg:flex">
        <div class="text-container">
          <h1 class="tituloLogo">KINGDOM GRACE FOUNDATION</h1>
          <br>
          <p class=" text-sm lg:text-base ">PARTICIPACIÓN HUMANITARIA 2024-2026</p>
          <p class=" text-sm lg:text-base ">PUERTO RICO - ECUADOR - COLOMBIA - VENEZUELA - HONDURAS</p>
          <p class=" text-sm lg:text-base ">BIENVENIDO AL JUBILEO DE YESHUA NUESTRO REDENTOR</p>
        </div>
        <img src="../assets/img/logo.png" alt="Logo" class="logo hidden lg:flex">
      </div>
      <hr>
      <div class="col ubicarCentro">
        <h2 class="titulo">FORMULARIO DE INSCRIPCIÓN</h2>
      </div>
      <hr>
      <form [formGroup]="registerForm">
        <mat-stepper class="stepper" orientation="vertical" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="registerForm">

            <ng-template matStepLabel><span class="stepperLabel">DATOS PERSONALES</span></ng-template>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">NOMBRE:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="name" placeholder="Ingrese el nombre del beneficiario">
              </div>
              <label class="col-lg-2 col-form-label label">IDENTIFICACION:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="identificationNumber" placeholder="Ingrese la identificación">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">EMAIL:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="email" placeholder="Ingrese el email">
              </div>
              <label class="col-lg-2 col-form-label label">CELULAR:</label>
              <div class="col-sm">
                <input type="number" class="form-control" formControlName="phone" placeholder="Ingrese el celular">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">DIRECCION:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="address" placeholder="Ingrese la dirección">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">PAIS:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="country" placeholder="Ingrese el país">
              </div>
              <label class="col-lg-2 col-form-label label">DEPARTAMENTO:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="department" placeholder="Ingrese el departamento">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">CIUDAD:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="city" placeholder="Ingrese la ciudad">
              </div>
              <label class="col-lg-2 col-form-label label">MUNICIPIO:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="municipality" placeholder="Ingrese el municiopio">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">CUENTA DE BANCO:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="bankAccount" placeholder="Ingrese la cuenta de banco">
              </div>
              <label class="col-lg-2 col-form-label label">TIPO CUENTA:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="accountType" placeholder="Ingrese el tipo de cuenta">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-md-6">
                <label class="form-label label" style="text-align: center; width: 100%;">ADJUNTAR DOCUMENTO DE
                  IDENTIDAD</label>
                <input class="form-control" type="file" formControlName="routeDocIdentification" (change)="capturarArchivoPdf($event,0)" accept=".pdf">
              </div>
              <div class="col-md-6">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR CERTIFICACION
                  BANCARIA</label>
                <input class="form-control" type="file" formControlName="routeDocBankCertificate" (change)="capturarArchivoPdf($event,1)" accept=".pdf">

              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">TIPO DE BONO:</label>
              <div class="col-lg">
                <input type="text" class="form-control" formControlName="bondType" placeholder="Ingrese el tipo de bono">
              </div>
              <label class="col-lg-2 col-form-label label">CODIGO:</label>
              <div class="col-lg">
                <input type="text" class="form-control" formControlName="bondCode" placeholder="Ingrese el codigo del bono">
              </div>
            </div>
            <br>
            <div class="ubicarFinal">
              <button class="button flex gap-2 mt-4" mat-button matStepperNext>
                Siguiente
                <i class="fa-solid fa-forward" style="color: #ffff;"></i>
              </button>
            </div>


          </mat-step>
          <mat-step>

            <ng-template matStepLabel><span class="stepperLabel">CANCELACION DE DEUDAS. JUBILEO</span></ng-template>
            <br>
            <div class="row g-2">
              <label class="col-lg-3 col-form-label label">VALOR TOTAL DE LA DEUDA:</label>
              <div class="col-lg-4">
                <input type="number" class="form-control" formControlName="totalDebt" placeholder="Ingrese el valor total de la deuda">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-md-12">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COMPROBANTE DE
                  DEUDA</label>
                <input class="form-control" type="file" formControlName="routeDocDebt" (change)="capturarArchivoPdf($event,2)" accept=".pdf">
              </div>
            </div>
            <br>
            <div class="button-container">
              <button class="button flex gap-2 mt-4" mat-button matStepperPrevious>
                <i class="fa-solid fa-backward" style="color: #ffff;"></i>
                Anterior
              </button>
              <button class="button flex gap-2 mt-4" mat-button matStepperNext>
                Siguiente
                <i class="fa-solid fa-forward" style="color: #ffff;"></i>
              </button>
            </div>

          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepperLabel">CASA, MUEBLES Y VEHICULO</span></ng-template>
            <br>
            <div class="row g-2">
              <label class="col-lg-3 col-form-label label">VALOR TOTAL DE LA COTIZACION:</label>
              <div class="col-lg-4">
                <input type="number" class="form-control" formControlName="totalUpcomingAssets" placeholder="Ingrese el valor total de la cotización">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-lg-4">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COTIZACION
                  CASA</label>
                <input class="form-control" type="file" formControlName="routeDocHome" (change)="capturarArchivoPdf($event,3)" accept=".pdf">

              </div>
              <div class="col-lg-4">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COTIZACION
                  MUEBLES</label>
                <input class="form-control" type="file" formControlName="routeDocFurniture" (change)="capturarArchivoPdf($event,4)" accept=".pdf">

              </div>
              <div class="col-lg-4">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COTIZACION
                  VEHICULO</label>
                <input class="form-control" type="file" formControlName="routeDocVehicle" (change)="capturarArchivoPdf($event,5)" accept=".pdf">

              </div>
            </div>
            <br>
            <div class="button-container">
              <button class="button flex gap-2 mt-4" mat-button matStepperPrevious>
                <i class="fa-solid fa-backward" style="color: #ffff;"></i>
                Anterior
              </button>
              <button class="button flex gap-2 mt-4" mat-button matStepperNext>
                Siguiente
                <i class="fa-solid fa-forward" style="color: #ffff;"></i>
              </button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepperLabel">EMPRENDIMIENTO</span></ng-template>
            <br>
            <div class="row g-2">
              <label class="col-lg-3 col-form-label label">VALOR TOTAL DE LA COTIZACION:</label>
              <div class="col-lg-4">
                <input type="number" class="form-control" formControlName="totalVenture" placeholder="Ingrese el valor total de la cotización">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-lg-12">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR PLAN DE
                  EMPRENDIMIENTO</label>
                <input class="form-control" formControlName="routeDocVenture" type="file" (change)="capturarArchivoPdf($event,6)" accept=".pdf">
              </div>
            </div>
            <br>
            <div class="button-container">
              <button class="button flex gap-2 mt-4" mat-button matStepperPrevious>
                <i class="fa-solid fa-backward" style="color: #ffff;"></i>
                Anterior
              </button>
              <button class="button flex gap-2 mt-4" mat-button matStepperNext>
                Siguiente
                <i class="fa-solid fa-forward" style="color: #ffff;"></i>
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel><span class="stepperLabel">RESUMEN DE FACTURAS</span></ng-template>

            <br>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">CANCELACION DE DEUDAS. JUBILEO:</label>
              <label class="col-lg-4 col-form-label label">{{ registerForm.get('totalDebt')?.value | currency:'USD':'symbol':'1.2-2' }}</label>
            </div>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">CASA AMUEBLADA, AUTO, VEHICULO:</label>
              <label class="col-lg-4 col-form-label label">{{ registerForm.get('totalUpcomingAssets')?.value | currency:'USD':'symbol':'1.2-2' }}</label>
            </div>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">EMPRENDIMIENTO:</label>
              <label class="col-lg-4 col-form-label label">{{ registerForm.get('totalVenture')?.value | currency:'USD':'symbol':'1.2-2' }}</label>
            </div>
            <hr>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">TOTAL:</label>
              <label class="col-lg-4 col-form-label label">{{ registerForm.get('totalGlobal')?.value | currency:'USD':'symbol':'1.2-2' }}</label>
            </div>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">TOTAL EN USD:</label>
              <label class="col-lg-4 col-form-label label">{{ registerForm.get('totalGlobalUDS')?.value | currency:'USD':'symbol':'1.2-2' }}</label>
            </div>
            <br>
            <br>
            <div class="ubicarFinal">
              <button class="button flex gap-2 mt-4" mat-button matStepperNext (click)="registrarEnrollment()">
                <i class="fa-solid fa-floppy-disk" style="color: #ffff;"></i>
                FINALIZAR REGISTRO
              </button>
            </div>
          </mat-step>
        </mat-stepper>


      </form>

    </body>
  </div>
</div>
