<div class="pt-20 pb-10">
  <div class="contenido">

    <body>
      <div class="header">
        <img src="../assets/img/logo.png" alt="Logo" class="logo hidden lg:flex">
        <div class="text-container">
          <h1 class="tituloLogo">KINGDOM GRACE FOUNDATION</h1>
          <br>
          <p class=" text-base lg:text-lg ">PARTICIPACIÓN HUMANITARIA 2024-2026</p>
          <p class=" text-base lg:text-lg ">PUERTO RICO - ECUADOR - COLOMBIA - VENEZUELA - HONDURAS</p>
          <p class=" text-base lg:text-lg ">BIENVENIDO AL JUBILEO DE YESHUA NUESTRO REDENTOR</p>
        </div>
        <img src="../assets/img/logo.png" alt="Logo" class="logo hidden lg:flex">
      </div>
      <hr>
      <div class="col ubicarCentro">
        <h1 class="titulo">FORMULARIO DE INSCRIPCION</h1>
      </div>
      <hr>
      <form [formGroup]="registerForm">
        <mat-stepper class="stepper" orientation="vertical" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="registerForm">

            <ng-template matStepLabel><span class="stepperLabel">DATOS PERSONALES</span></ng-template>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">NOMBRE BENEFICIARIO:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="identificationNumber">
              </div>
              <label class="col-lg-2 col-form-label label">IDENTIFICACION:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">EMAIL:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="email">
              </div>
              <label class="col-lg-2 col-form-label label">CELULAR:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="phone">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">DIRECCION:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="address">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">PAIS:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="country">
              </div>
              <label class="col-lg-2 col-form-label label">DEPARTAMENTO:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="department">
              </div>
            </div>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">CIUDAD:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="city">
              </div>
              <label class="col-lg-2 col-form-label label">MUNICIPIO:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="municipality">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">CUENTA DE BANCO:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="bankAccount">
              </div>
              <label class="col-lg-2 col-form-label label">TIPO CUENTA:</label>
              <div class="col-sm">
                <input type="text" class="form-control" formControlName="accountType">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-md-6">
                <label class="form-label label" style="text-align: center; width: 100%;">ADJUNTAR DOCUMENTO DE
                  IDENTIDAD</label>
                <input class="form-control labelFile" type="file">
              </div>
              <div class="col-md-6">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR CERTIFICACION
                  BANCARIA</label>
                <input class="form-control labelFile" type="file">

              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <label class="col-lg-2 col-form-label label">TIPO DE BONO:</label>
              <div class="col-lg">
                <input type="text" class="form-control" formControlName="bondType">
              </div>
              <label class="col-lg-2 col-form-label label">CODIGO:</label>
              <div class="col-lg">
                <input type="text" class="form-control" formControlName="bondCode">
              </div>
            </div>
            <br>
            <div class="ubicarFinal">
              <button class="button flex gap-2 mt-4">
                Siguiente
              </button>
              <i class="fa-solid fa-forward fa-beat"></i>
            </div>


          </mat-step>
          <mat-step>

            <ng-template matStepLabel><span class="stepperLabel">CANCELACION DE DEUDAS. JUBILEO</span></ng-template>
            <br>
            <div class="row g-2">
              <label class="col-lg-3 col-form-label label">VALOR TOTAL DE LA DEUDA:</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" formControlName="totalDebt">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-md-12">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COMPROBANTE DE
                  DEUDA</label>
                <input class="form-control labelFile" type="file">
              </div>
            </div>
            <br>
            <div class="button-container">
              <button type="button" class="styleButton btnDone" mat-button matStepperPrevious>
                <span>
                  <i class="fa-solid fa-backward"></i>
                </span>
                ANTERIOR
              </button>
              <button type="button" class="styleButton btnDone" mat-button matStepperNext>
                SIGUIENTE
                <span>
                  <i class="fa-solid fa-forward"></i>
                </span>
              </button>
            </div>

          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepperLabel">CASA, MUEBLES Y VEHICULO</span></ng-template>
            <br>
            <div class="row g-2">
              <label class="col-lg-3 col-form-label label">VALOR TOTAL DE LA COTIZACION:</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" formControlName="totalUpcomingAssets">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-lg-4">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COTIZACION
                  CASA</label>
                <input class="form-control labelFile" type="file">

              </div>
              <div class="col-lg-4">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COTIZACION
                  MUEBLES</label>
                <input class="form-control labelFile" type="file">

              </div>
              <div class="col-lg-4">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR COTIZACION
                  VEHICULO</label>
                <input class="form-control labelFile" type="file">

              </div>
            </div>
            <br>
            <div class="button-container">
              <button type="button" class="styleButton btnDone" mat-button matStepperPrevious>
                <span>
                  <i class="fa-solid fa-backward"></i>
                </span>
                ANTERIOR
              </button>
              <button type="button" class="styleButton btnDone" mat-button matStepperNext>
                SIGUIENTE
                <span>
                  <i class="fa-solid fa-forward"></i>
                </span>
              </button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel><span class="stepperLabel">EMPRENDIMIENTO</span></ng-template>
            <br>
            <div class="row g-2">
              <label class="col-lg-3 col-form-label label">VALOR TOTAL DE LA COTIZACION:</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" formControlName="totalVenture">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row g-2">
              <div class="col-lg-12">
                <label class="form-label label" style="text-align: center;width: 100%; ">ADJUNTAR PLAN DE
                  EMPRENDIMIENTO</label>
                <input class="form-control labelFile" type="file">
              </div>
            </div>
            <br>

            <div class="button-container">
              <button type="button" class="styleButton btnDone" mat-button matStepperPrevious>
                <span>
                  <i class="fa-solid fa-backward"></i>
                </span>
                ANTERIOR
              </button>
              <button type="button" class="styleButton btnDone" mat-button matStepperNext>
                SIGUIENTE
                <span>
                  <i class="fa-solid fa-forward"></i>
                </span>
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel><span class="stepperLabel">RESUMEN DE FACTURAS</span></ng-template>

            <br>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">CANCELACION DE DEUDAS. JUBILEO:</label>
              <label class="col-lg-4 col-form-label label">$ 0.000</label>
            </div>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">CASA AMUEBLADA, AUTO, VEHICULO:</label>
              <label class="col-lg-4 col-form-label label">$ 0.000</label>
            </div>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">EMPRENDIMIENTO:</label>
              <label class="col-lg-4 col-form-label label">$ 0.000</label>
            </div>
            <hr>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">TOTAL:</label>
              <label class="col-lg-4 col-form-label label">$ 0.000</label>
            </div>
            <div class="row g-2">
              <label class="col-lg-4 col-form-label label total">TOTAL EN USD:</label>
              <label class="col-lg-4 col-form-label label">$ 0.000</label>
            </div>
            <br>
            <br>
            <div class="ubicarFinal">
              <button type="button" class="styleButton btnDone" (click)="registrarEnrollment()">

                FINALIZAR REGISTRO
              </button>
            </div>
          </mat-step>
        </mat-stepper>


      </form>

    </body>
  </div>
</div>
