<div id="carouselExampleDark-inicio" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark-inicio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark-inicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark-inicio" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark-inicio" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark-inicio" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/Volunteer Team.webp" class="d-block w-100 carousel-vertical" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/misionSurAmericaColaboradores.webp" class="d-block w-100 carousel-vertical" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/misionSurAmerica.webp" class="d-block w-100 carousel-vertical" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/CARA SA.webp" class="d-block w-100 carousel-vertical" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/img/misionSurAmerica-2.webp" class="d-block w-100 carousel-vertical" alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark-inicio" data-bs-slide="prev">
        <img src="assets/img/flecha-izquierda.png" class="flecha">
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark-inicio" data-bs-slide="next">
        <img src="assets/img/flecha-derecha.png" class="flecha">
      </button>  
  </div>