<div class="pb-10">
  <app-header-home></app-header-home>
</div>


<div class="pt-28 pb-10 px-40">

</div>


<section id="experience" class="container mx-auto lg:w-[950px] px-7 py-11">

  <div class="text-5xl font-extrabold text-center">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
      Experiencia con la Fundacion
    </span>
  </div>

</section>




<section id="proyectos" class="container mx-auto lg:w-[950px] px-7 py-11">

  <div class="text-5xl font-extrabold text-center">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
      proyectos
    </span>
  </div>

</section>
