<app-header-home></app-header-home>



<!-- ======= ACERCA DE LA FUNDACIÓN KGF ======= -->
<section id="acerca">
  <div class="container py-10">

    <div class="text-4xl font-extrabold text-center pb-3">
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
        ACERCA DE LA FUNDACIÓN KGF
      </span>
    </div>

    <p class="text-white text-center">KINGDOM GRADE FOUNDATION fue fundada en el año 2022 con el fin de respaldar económicamente el ministerio <b>Amor Puertas Abiertas Misión Sur América Inc</b>, la cual esta comprometida con apoyar toda la obra msionera realizada por las iglesias con activos de redención que KGF tiene en Plataformas de redición para apoyar el desarrollo de proyectos humanitarios.</p>
      
  </div>
</section>
<!-- End ACERCA DE LA FUNDACIÓN KGF -->






<!-- ======= PROGRAMAS DE LA FUNDACIÓN KGF ======= -->
<section id="programas" class=" bg-white py-10">
  <div class="container">
    <div class="text-4xl font-extrabold text-center pb-4">
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-400 hover:from-yellow-300 hover:via-yellow-500 hover:to-yellow-500">
        Programas de la Fundación
      </span>
    </div>

    <app-three-boxes></app-three-boxes>

  </div>
</section>
<!-- End PROGRAMAS DE LA FUNDACIÓN KGF -->







<!-- ======= NACIMIENTO DE LA FUNDACIÓN KGF  ======= -->
<section id="nacimiento-Fundacion">
  <div class="container text-white py-10">

    <div class="text-4xl font-extrabold text-center pb-3">
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
        NACIMIENTO DE LA FUNDACIÓN KGF
      </span>
    </div>

    <p>El año que el Señor confirmó que regresaría a mi llamado a Sur América hice dos peticiones muy particulares en distintas situaciones que conviene testificar para Su Gloria; así sucedió:</p>
    
    <ul class="list-outside list-disc">
      <li class="pb-3"><b>Primera petición:</b> Cuando luego de diez años de servicios comunitarios por medio de Amor a Puertas Abiertas Inc., nos vimos en la obligación de cerrar las operaciones por falta de dinero recuerdo haber preguntado en oración; “Señor ¿Por qué no me haces rico como Abraham para no depender de propuestas ni de mendigar ayudas; si tú conoces mi corazón Señor, por qué no me haces rico?</li>
      <li><b>Segunda petición:</b> La hice en oración de guerra reclamando cielos abiertos y las riquezas descendiendo para la misión en Sur América. Que ahora me enviara con las manos llenas de bendición para además de testificar y predicar Su Evangelio de amor y misericordias pudiera cumplirle los sueños a muchas familias.</li>
    </ul>

    <p>La madrugada del miércoles <b>10 de julio de 2013</b> tuve un sueño donde me vi en tres escenas distintas. En la última, me encontraba de rodillas en una hermosa terraza con mis manos levantadas adorando junto a un Corro de Millares y Millares de Ángeles y todas clase de Seres Vivientes creados, en lenguas que no entendía pero sabía que adoraban al que estaba sentado en el Trono que estaba en medio de nubes espesas de las cuales salían truenos y relámpagos impresionantes.</p>
    <p>No vi el Trono ni al que estaba sentado en el Trono, mi espíritu sabía que estaba. También escuchaba las millares de alabanzas pero tampoco podía verlos, aunque sabía que eran millares. Entonces escuché una suave y apacible voz como un un silbo apacible que me dijo: “Ahora comenzarás a ayunar dos días a la semana y de todo lo que te daré me darás el diezmo”. Gimiendo y sintiendo la preciosa Presencia del Espíritu Santo; desperté.</p>
    <p><b>¡Lo demás será historia!</b></p>
    
  </div>
</section>
<!-- End NACIMIENTO DE LA FUNDACIÓN KGF -->





<!-- ======= Imagen con texto ======= -->
<app-img-text-animation></app-img-text-animation>





<!-- ======= Historia de la Fundacion ======= -->
<section id="history">
  <div class="container text-white py-10">

    <div class="text-4xl font-extrabold text-center pb-3">
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
        Historia de la fundación KGF
      </span>
    </div>
    
    <p>Kingdom Grace Foundation fue creada por la voluntad y en honor del Redentor de la Humanidad; JESUCRISTO, a quién pertenece las riquezas de todas las Naciones por Decreto Celestial registrado en el libro de Revelaciones 5:1-14</p>
    <p>KGF tiene como su norte, ser uno de los muchos buenos Mayordomos de los bienes que Nuestro Señor Redentor JESUCRISTO nos ha puesto para administrarlo en Su Reino aquí en la Tierra, produciendo el resultado para lo cual nos ha sido asignado en favor de la Humanidad.</p>
    <p>KGF en perfecta alineación para dar cumplimiento con las Sagradas Escrituras Isaías 61, la Parábola de los Talentos Lucas 19:11-27 y recibiendo un claro entendimiento del ejemplo modelo de la que hoy llamamos como la Iglesia Primitiva narrada en el libro de los Hechos de los Apóstoles 4:23-37 en la cual señala que ningún necesitado había entre ellos.</p>
    <p>KGF adapta todos sus Programas Humanitarios para dar continuidad a estas verdades Bíblicas de grande bendición para toda la raza humana adquirida a precio de la preciosa sangre del Cordero de Dios derramada en la Cruz del Calvario para el perdón de nuestros pecados. Amén.</p>
    <p>KGF de cierto de cierto cree que la mayor transferencia de riquezas que hoy disfruta de estos Programas son gracias a JESÚS porque Su KAIRÓS para recibirlas ha llegado por lo que todos somos bendecidos y llamados a bendecir. Simplemente lo que de gracias hemos recibido lo compartimos por Su Gracia.</p>
    
  </div>
</section>
<!-- End Historia de la Fundacion Section -->





<!-- ======= Experiencia de la Fundacion ======= -->
<section id="experience" class="container py-10">

  <div class="text-4xl font-extrabold text-center">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
      Experiencia con la Fundación
    </span>
  </div>

</section>
<!-- End Experiencia de la Fundacion Section -->





<!-- ======= Proyectos de la Fundacion ======= -->
<section id="proyectos" class="container py-10">

  <div class="text-4xl font-extrabold text-center pb-3">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
      Proyectos de la fundación
    </span>
  </div>

</section>
<!-- End Proyectos de la Fundacion Section -->





<app-carosel></app-carosel>






<!-- ======= Preguntas frecuentes ======= -->
<section id="frequent-questions" class="container py-10">
  <div class="text-4xl font-extrabold text-center pb-3">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 hover:from-yellow-200 hover:via-yellow-400 hover:to-yellow-500">
      Preguntas frecuentes
    </span>
  </div>

  <app-accordion-frequent-questions></app-accordion-frequent-questions>

</section>
<!-- End Preguntas frecuentes Section -->