<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <div class="CabeceraContainer">
          <div class="cabecera">
            <i class="fa-solid fa-layer-group"></i>
            <button>Menú</button>
          </div>
          <button class="buttonToggle open" (click)="sidenav.toggle()">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
        </div>
        <div class="nav-list">
            
          <li (click)="sidenav.toggle()">
            <a routerLinkActive="active"  href="admin/dashboard"  style="text-decoration: none; color: #fff;">
              <i class="fas fa-home iconoList"></i>
              Dashboard
            </a>
          </li>
          <li (click)="sidenav.toggle()">
            <a routerLinkActive="active" href="admin/manageEnrollments" style="text-decoration: none; color: #fff;">
              <i class="fa-solid fa-file-circle-plus iconoList"></i>
              Inscripciones
            </a>
          </li>
          <li (click)="sidenav.toggle()">
            <a routerLinkActive="active"  href="admin/update-password"  style="text-decoration: none; color: #fff;">
              <i class="fa-solid fa-key iconoList "></i>
              Actualizar Clave
            </a>
          </li>
  
        </div>
      </mat-nav-list>
      <div class="bottom-option">
        <div class="footer">
          <button class="w-full rounded p-2 text-white text-lg font-semibold" style="    background: linear-gradient(to top, #101042, #00318d);">
            <span>
              <i class="fa-solid fa-right-from-bracket pe-2"></i>
            </span>  
            Cerrar Sesión
          </button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button class="buttonToggle close" (click)="sidenav.toggle()">
          <span><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="ubicarFinal">
            <a routerLink="/home" class="hover:scale-110 transition-all duration-150">
                <img src="../assets/img/logo-horizontal.png" width="170px" height="70px" alt="Logo" class="logo">
            </a>
        </div>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
  