* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin: 2% auto;
    max-width: 350px;
    min-height: 550px;
    padding: 0px 30px 30px 30px;
    box-shadow: 0 0px 20px #F1C40F;
    background: linear-gradient(to right, #031f57, #0747b6);
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    color: #555
}

@media(max-width: 380px) {
    .wrapper {
        margin: 60px 12px;
        padding: 20px 15px 40px 15px
    }
}