<div class="container cards">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="1500">
            <div class="icon-box">
                <div class="icon">
                    <a class="LetraAmarillo"><img src="assets/img/misionSurAmerica.webp" height="auto" width="200" alt="Programas de Convocatorias"></a>
                </div>
                <h4><a class="LetraAmarillo">Programas de Convocatorias</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consectetur dolor omnis rem sint maiores error id optio repellendus sapiente maxime vitae, qui adipisci! Consequuntur dolorem et sunt ullam unde</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch mt-4 mt-lg-0 mt-sm-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="1500">
            <div class="icon-box">
                <div class="icon">
                    <a class="LetraAzul"><img src="assets/img/misionSurAmerica-2.webp" height="auto" width="160" alt="Emprendimientos Humanitarios"></a>
                </div>
                <h4><a class="LetraAzul">Emprendimientos Humanitarios</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consectetur dolor omnis rem sint maiores error id optio repellendus sapiente maxime vitae, qui adipisci! Consequuntur dolorem et sunt ullam unde</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch mt-4 mt-lg-0 mt-sm-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="1500">
            <div class="icon-box">
                <div class="icon">
                    <a class="LetraPurpura"><img src="assets/img/CARA SA.webp" height="auto" width="420" alt="Participación Humanitaria"></a>
                </div>
                <h4><a class="LetraPurpura">Participación Humanitaria</a></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consectetur dolor omnis rem sint maiores error id optio repellendus sapiente maxime vitae, qui adipisci! Consequuntur dolorem et sunt ullam unde</p>
            </div>
        </div>
    </div>
</div>
