<div class="contenido">
    <div class="dashboard">
        <h1 class="title">Dashboard - Información sobre las inscripciones</h1>
        <div class="estadisticas">
            <div class="tarjeta correcta">Inscripciones con la documentación correcta<br><h1>1</h1></div>
            <div class="tarjeta revisar">Inscripciones con la documentación sin revisar<br><h1>1</h1></div>
            <div class="tarjeta corregir">Inscripciones con la documentación por corregir<br><h1>1</h1></div>
            <div class="tarjeta correcciones">Número total de personas beneficiadas<br><h1>1</h1></div>
            <div class="tarjeta avaladas">Número total de inscripciones en el sistema<br><h1>1</h1></div>
        </div>
    </div>
</div>