/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

@import 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    color-scheme: light dark;
    background: linear-gradient(to right, #101042, #00318d); 
}

/* Estilos específicos para el scrollbar */
html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: #F1C40F;
    border-radius: 10px; 
}

/* You can add global styles to this file, and also import other style files */
.modo_oscuro-govco {
    color: white;
    filter: invert(1);
  }