.contenido {
  margin: 2% 5% 0;
  box-shadow: 0 0px 20px #F1C40F;
}


.title {
  color: #fff;
}

.contenido {
  background: linear-gradient(to right, #031f57, #0747b6);

  font-family: 'Cinzel', serif;
  padding: 20px;
}
